extends layout
block content
    script(src="/js/socket.js")
    script(src="/js/main.js")
    - for (var i = 0;i <= 4;i++)
        table.page(pageInd=i)
            tbody
                each category in Object.keys(questions[i])
                    tr.category
                        td.category-title= category
                        - var points = 0
                        each question in questions[i][category]
                            - points += i * 100
                            td
                                div.question(question=question)
                                    span= points
    .currQuestion.hidden
        img.currQuestion-image
        .currQuestion-text
        .currQuestion-audio
        .currQuestion-queue