doctype html
html
  head
    title='Своя игра'
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/jquery-3.3.1.min.js")
    script(src="/js/socket.io.slim.js")
    script(src="/js/main.js")
  body
    block content