
extends layout

block content
  form(action='/login' method='post')
    input(type='text' name='username' placeholder='Имя пользователя')
    input(type='password' name='password' placeholder="Пароль")
    button(type="submit") Войти