extends layout
block content
    script(src="/js/socket.js")
    script(src="/js/mainU.js")
    .currQuestion.hidden
        img.currQuestion-image
        .currQuestion-text
    .colorMarker(style={"background-color": color})